body {
        background:rgb(10, 75, 53);
        color: rgb(197, 160, 38);
        }


h1 {
    color: lightsalmon;
    font-family: 'Arial'

}

.navrahmen {
    border: 1px solid rgb(150, 4, 138);
}

article {
    padding: 20px;

}
#Meerschweinchenarten  { 
    background-color: rgb(62, 8, 112)
    
}

#Haltung { 
    background-color: rgb(112, 41, 8)
    
}

#Ernährung { 
    background-color: rgb(230, 226, 15)
    
}